/*
    VARIABLES
*/

$font-stack: 'Montserrat', 'Avenir', Arial, sans-serif;
$font-stack2: 'Slabo 27px', 'Georgia', serif;
$primary-color: #333;

// Mask points
$p1: 20px 0%;
$p2: 100% 0;
$p3: 100% calc(100% - 20px);
$p4: calc(100% - 20px) 100%;
$p5: 0% 100%;
$p6: 0% 20px;


body {
  font: $font-stack;
  color: $primary-color;
}

/* -----------------------------

    MASKED IMAGES
*/
.masked {
 
    -webkit-clip-path: polygon($p1, $p2, $p3, $p4, $p5, $p6);
    clip-path: polygon($p1, $p2, $p3, $p4, $p5, $p6);
}

/* -----------------------------

    BIOG
*/
.biog_avatar {
 
    width: 20rem;
    height: auto;
    float: left;
    position: relative;
    left: -3rem;
}

.main-header nav {
    
    li {
       
        cursor: pointer;
        font-family: $font-stack2;
    }
    
    li:hover {
        
       color: #444;
        background: #bada55; 
    }
}

.biog_nav {
 
    ul {
        text-indent: 0;
        padding: 0;
    }
    li {
     
        text-align: center;
        list-style-type: none;
        margin: 2rem 0;
        
        color: white;
        padding: 1rem;
        background: #444;
        
        cursor: pointer;
        font-size: 2rem;
        font-family: $font-stack2;
    }
    
    li:hover {
         
            color: #444;
            background: #bada55;
        }
}

/* -----------------------------

    HEADER
*/
.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  color: white;
  background: #444;
  line-height: 6rem;
  transform: translateY(0);
  transform: translate3d(0,0,0);
  transition: .25s transform;
  backface-visibility: hidden;
    z-index: 999;
    
    h1 {
      float: left;
      font-size: 1.4rem;
      margin: 0 0 0 2rem;
      text-transform: uppercase;
    }
    
    nav {
      float: right;
      font-size: 1.4rem;
        
        ul { 
          margin: 0; 
          padding: 0; 
        }
        
        li {
          display: inline-block;
          padding: 0 2rem;
          border-left: .1rem solid #555;
        }
    }
}

.heads-up {
  transform: translateY(-6rem);
  transform: translate3d(0,-6rem,0);
}

main { 

  background: #EEE;
}

/* -----------------------------

    FOOTER

*/

footer {
 
    height: 12rem;
  color: white;
  background: #444;
    padding: 4em;
}

/* -----------------------------

    BANNER IMAGES
*/
#topBanner {
    
    margin-top: 6rem;
    background: url("http://lorempixel.com/g/1200/800/abstract/2");
    @extend .banner_bg;
}

#creativityBanner {
    
    background: url("http://lorempixel.com/1200/800/abstract/1");
    @extend .banner_bg;
}

#curiousityBanner {
    
    background: url("http://lorempixel.com/1200/800/cats/1");
    @extend .banner_bg;
}

#feasibilityBanner {
    
    background: url("http://lorempixel.com/1200/800/business/9");
    @extend .banner_bg;
}

#strategyBanner {
    
    background: url("http://lorempixel.com/1200/800/business/7");
    @extend .banner_bg;
}

.banner_bg {
 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.banner {
 
    margin: 0;
    height: 48rem;
    width: 100%;
    overflow: hidden;
    display: table;
    
//    box-shadow: inset 0 0 50px #fff;
    
    .bannerTitles {
        
        display: table-cell;
        vertical-align: middle;
    }
    h1,h2 {
        width: 100%;
        text-align: center;
        color: white;
    }

    h1 {
        font-family: $font-stack2;
        font-size: 800%;   
    }
}

.infoPanel {
 
    padding: 6em;
}
