/*
    VARIABLES
*/
body {
  font: "Montserrat", "Avenir", Arial, sans-serif;
  color: #333; }

/* -----------------------------

    MASKED IMAGES
*/
.masked {
  -webkit-clip-path: polygon(20px 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%, 0% 20px);
  clip-path: polygon(20px 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%, 0% 20px); }

/* -----------------------------

    BIOG
*/
.biog_avatar {
  width: 20rem;
  height: auto;
  float: left;
  position: relative;
  left: -3rem; }

.main-header nav li {
  cursor: pointer;
  font-family: "Slabo 27px", "Georgia", serif; }
.main-header nav li:hover {
  color: #444;
  background: #bada55; }

.biog_nav ul {
  text-indent: 0;
  padding: 0; }
.biog_nav li {
  text-align: center;
  list-style-type: none;
  margin: 2rem 0;
  color: white;
  padding: 1rem;
  background: #444;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Slabo 27px", "Georgia", serif; }
.biog_nav li:hover {
  color: #444;
  background: #bada55; }

/* -----------------------------

    HEADER
*/
.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  color: white;
  background: #444;
  line-height: 6rem;
  transform: translateY(0);
  transform: translate3d(0, 0, 0);
  transition: .25s transform;
  backface-visibility: hidden;
  z-index: 999; }
  .main-header h1 {
    float: left;
    font-size: 1.4rem;
    margin: 0 0 0 2rem;
    text-transform: uppercase; }
  .main-header nav {
    float: right;
    font-size: 1.4rem; }
    .main-header nav ul {
      margin: 0;
      padding: 0; }
    .main-header nav li {
      display: inline-block;
      padding: 0 2rem;
      border-left: .1rem solid #555; }

.heads-up {
  transform: translateY(-6rem);
  transform: translate3d(0, -6rem, 0); }

main {
  background: #EEE; }

/* ----------------------------

    SIGNATURE

*/
.signature {
  height: 5rem;
  padding: 0.5rem 2rem; }

.big_signature {
  height: 30rem; }

/* -----------------------------

    FOOTER

*/
footer {
  height: 12rem;
  color: white;
  background: #444;
  padding: 4em; }

/* -----------------------------

    BANNER IMAGES
*/
#topBanner {
  margin-top: 6rem;
  background: url("http://lorempixel.com/g/1200/800/abstract/2"); }

#creativityBanner {
  background: url("http://lorempixel.com/1200/800/abstract/1"); }

#curiousityBanner {
  background: url("http://lorempixel.com/1200/800/cats/1"); }

#feasibilityBanner {
  background: url("http://lorempixel.com/1200/800/business/9"); }

#strategyBanner {
  background: url("http://lorempixel.com/1200/800/business/7"); }

.banner_bg, #topBanner, #creativityBanner, #curiousityBanner, #feasibilityBanner, #strategyBanner {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.banner {
  margin: 0;
  height: 48rem;
  width: 100%;
  overflow: hidden;
  display: table; }
  .banner .bannerTitles {
    display: table-cell;
    vertical-align: middle; }
  .banner h1, .banner h2 {
    width: 100%;
    text-align: center;
    color: white; }
  .banner h1 {
    font-family: "Slabo 27px", "Georgia", serif;
    font-size: 800%; }

.infoPanel {
  padding: 6em; }

/*# sourceMappingURL=output.css.map */
