<!DOCTYPE html>
<html ng-app="main">

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<!--    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/headsUp.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/output.css" >
    <link href='http://fonts.googleapis.com/css?family=Montserrat|Slabo+27px' rel='stylesheet' type='text/css'>
    
</head>

<body ng-controller="AppController as app">

    <header class="main-header" ng-controller="HeaderController as header">
      <h1>Your Logo Here</h1>
      <nav ng-controller="NavController as nav">
        <ul>
            <li ng-click="nav.scrollToTag('creativity_tag')" class="masked">Creativity</li>
            <li ng-click="nav.scrollToTag('curiousity_tag')" class="masked">Curiousity</li>
            <li ng-click="nav.scrollToTag('feasibility_tag')" class="masked">Feasibility</li>
            <li ng-click="nav.scrollToTag('strategy_tag')" class="masked">Strategy</li>
            <li ng-click="nav.scrollToTag('contact_tag')" class="masked">Contact</li>
        </ul>
      </nav>
    </header>
    
    <main class="content">
        
        <section id="topBanner" class="banner">
            <div class="bannerTitles">
                <h1>Lee Probert</h1>
                <h2>Creative Technologist</h2>
            </div>
        </section>
        
        <a name="intro_tag"></a>
        <section id="topInfoPanel" class="infoPanel">
        
            <article class="row">
                <div class="col-md-8 col-sm-8">
                    <img src="images/Lee_Probert_thumb.png" alt="Lee Probert" class="masked biog_avatar" />
                    <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
  
  <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
                </div>
                
                <div class="biog_nav col-md-4 col-sm-4">
                    <nav ng-controller="NavController as nav">
                        <ul>
                            <li ng-click="nav.scrollToTag('creativity_tag')" class="masked">Creativity</li>
                            <li ng-click="nav.scrollToTag('curiousity_tag')" class="masked">Curiousity</li>
                            <li ng-click="nav.scrollToTag('feasibility_tag')" class="masked">Feasibility</li>
                            <li ng-click="nav.scrollToTag('strategy_tag')" class="masked">Strategy</li>
                        </ul>
                    </nav>
                </div>
            
            </article>
            
        </section>
        
        <section id="creativityBanner" class="banner">
            <div class="bannerTitles"><h1>Creativity</h1></div>
        </section>
        
        <a name="creativity_tag"></a>
        <section id="creativityInfoPanel" class="infoPanel">
        
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
  
  <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
  
  <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p>
  
  <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.</p>
    
  <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>
        </section>
        
        <section id="curiousityBanner" class="banner">
            <div class="bannerTitles"><h1>Curiousity</h1></div>
        </section>
        
        <a name="curiousity_tag"></a>
        <section id="curiousityInfoPanel" class="infoPanel">
        
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
  
  <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
            
        </section>
        
        <section id="feasibilityBanner" class="banner">
            <div class="bannerTitles"><h1>Feasibility</h1></div>
        </section>
        
        <a name="feasibility_tag"></a>
        <section id="feasibilityInfoPanel" class="infoPanel">
        
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
  
  <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
        </section>
        
        <section id="strategyBanner" class="banner">
            <div class="bannerTitles"><h1>Strategy</h1></div>
        </section>
        
        <a name="strategy_tag"></a>
        <section id="strategyInfoPanel" class="infoPanel">
        
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
  
  <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
        </section>
  
  
        
    </main>
    
    <a name="contact_tag"></a>
    <footer class="container-fluid">
        <section class="col-md-4">
            <p>Contact Lee via email: <a href="">leeprobert@gmail.com</a></p>
        </section>
    
    </footer>
</body>

</html>